.navbar{
    justify-content: space-between;
  }
  .navbar ul{
    display: none;
  }
  .navbar .logo{
    padding: 20px;
  }
  .hero-section img , .about-section img{
    width: 350px;
    margin-top: 50px;
  }
  .hero-content{
    width: 100vw;
    font-size: 32px;
    padding: 20px;
  }
  .services{
    flex-wrap: wrap;
  }
  .about-section {
    flex-wrap: wrap-reverse;
  }
  .case-study-grid-container{
    grid-template-columns: 1fr;
    padding: 20px;
  }