@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/*? Navbar */
.navbar {
  font-family: "Montserrat", sans-serif;
  background-color: #344585;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  position: fixed;
  width: 100%;
  color: white;
}
.logo img {
  width: 33px;
  aspect-ratio: 1;
}
.logo {
  font-size: 35px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar ul li {
  list-style-type: none;
  /* margin-right: 10px; */
}
.navbar ul a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
}
.hero-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #6384ff;
  color: white;
  padding: 150px 0;
}
.hero-section img {
  width: 600px;
}
.hero-content {
  font-size: 40px;
  width: 30%;
}
.nav-btn {
  padding: 10px 30px;
  background-color: transparent;
  border-color: white;
  border-style: solid;
  color: white;
  transition: all 500ms;
}
.nav-btn:hover {
  background-color: white;
  color: #6384ff;
  cursor: pointer;
}
/*? Services */
.services-section h1,.about-section h1 {
  text-align: center;
  font-size: 40px;
  padding: 30px 0;
}
.about-section h1{
  text-align: left;
}
.services-section h1::after,.about-section h1::after {
  content: "";
  display: block;
  width: 15%;
  height: 2px;
  margin: 20px auto;
  background: rgb(99, 132, 240);
  background: linear-gradient(
    90deg,
    rgba(99, 132, 240, 1) 0%,
    rgba(99, 132, 240, 1) 82%,
    rgba(255, 255, 255, 1) 82%,
    rgba(255, 255, 255, 1) 89%,
    rgba(99, 132, 240, 1) 89%,
    rgba(99, 132, 240, 1) 100%
  );
}
.about-section h1::after{
  margin: 20px 0;
  width: 30%;
}
.services{
  max-width: 1200px;
  margin: 10px auto 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
} 
.service{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
  text-align: center;
}
.service p ,.about-section p{
  line-height: 2;
}
.service h2{
  color: #32325c;
}
/*? about */
.about-section{
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section p {
  margin-bottom: 20px;
}
.about-section a{
  text-decoration: none;
  padding: 10px 24px;
  border: solid 1px #6384ff;
  color: #6384ff;
  transition: all 500ms;
}
.about-section a:hover{
  background-color: #6384ff;
  color: white;
}